@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

* {
    margin: 0;
    font-family: "Poller One";
}

.nav-bar {
    position: fixed;
    display: flex;
    height: 8%;
    width: 100%;
    background-color: #005660;
    justify-content: flex-end;
}

.nav-bar a {
    text-decoration: none;
    padding: 15px;
    color: white;
    margin-right: 5%;
}

.image-main {
    max-width: 100%;
    width: 100%;
    margin-top: 3%;
}

.image-footer-image-main {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 150px;
}

/* .container-image-start {
    height: 30%;
} */

/* .container-images {
    height: 30%;
} */

.image-main {
    height: 675px;
}

.container-skills {
    margin-bottom: 50px;
    margin-top: 5%;
}

.container-flex-skills {
    display: flex;
}

.mid-container {
    width: 50%;
    text-align: center;
}

.text-center {
    text-align: center;
}

.margin-top {
    margin-top: 5%;
}

.container-elementor {
    margin-top: 3%;
}

.margin-title-botton {
    margin-bottom: 1%;
    margin-top: 1%;
}

.progress-bar {
    background-color: #1a1a1a;
    height: 2%px;
    padding: 5px 0;
    width: 70%;
    margin-left: 15%;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
    background-color: #ccc;
    color: white;
}

.filled-in-50 {
    width: 50%;
}

.filled-in-60 {
    width: 60%;
}

.filled-in-70 {
    width: 70%;
}

.filled-in-75 {
    width: 75%;
}

.filled-in-80 {
    width: 80%;
}

.filled-in-85 {
    width: 85%;
}

.filled-in-90 {
    width: 90%;
}

.filled-web span{
    background-color: #7F00F0;
    background-image: linear-gradient(top, #7F00F0, #5805A2);
}

.filled-videogame span{
    background-color: #0AE14B;
    background-image: linear-gradient(top, #0AE14B, #029E31);
}

.filled-diseño span{
    background-color: #F47A07;
    background-image: linear-gradient(top, #F47A07, #D76800);
}

.filled-general span{
    background-color: #03B7FF;
    background-image: linear-gradient(top, #03B7FF, #0077A7);
}

/**** STRIPES ****/
.stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
      transparent 75%, transparent);            
  
    animation: animate-stripes 3s linear infinite;             
  }

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    } 
    100% {
        background-position: 60px 0;
    }
}

/**** SHINE ****/
.shine span {
    position: relative;
  }
  
  .shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;             
  }
  
  @keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
  }
  
  /**** GLOW ****/
  .glow span {
    box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;    
    animation: animate-glow 1s ease-out infinite;          
  }
  
  @keyframes animate-glow {
    0% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
    50% { box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
    100% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
  }