@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

* {
    margin: 0;
    font-family: "Poller One";
}


/****************NAVBAR***************************/

.nav-bar {
    position: fixed;
    display: flex;    
    background-color: rgba(0, 166, 175, 1);    
    z-index: 99;
    width: 100%;
}

.nav-bar a {
    text-decoration: none;
    padding: 15px;
    color: white;
    margin-right: 5%;
}


/*********Primera imagen*********/

.container-image-start {
    height: auto;
}

.image-main {
    width: 100%;
}
.container-image-footer-main {
    width: 100%;   
    height: 150px;
    margin-top: -150px;
    z-index: 98;
}
.image-footer-image-main {
    width: 100%;
    height: 150px;
}





/*************SECCION DE SERVICIOS**********/

.container-skills {
    margin-bottom: 150px;
    margin-top: 5%;
}

.container-flex-skills {
    display: flex;
    flex-wrap: wrap;
}

.mid-container {
    
    text-align: center;
}

.text-center {
    text-align: center;
}

.margin-top {
    margin-top: 5%;
}

.container-elementor {
    margin-top: 3%;
}

.margin-title-botton {
    margin-bottom: 1%;
    margin-top: 1%;
}

.progress-bar {
    background-color: #1a1a1a;
    height: 2%px;
    padding: 5px 0;
    width: 70%;
    margin-left: 15%;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
    background-color: #ccc;
    color: white;
}

.filled-in-50 {
    width: 50%;
}

.filled-in-60 {
    width: 60%;
}

.filled-in-70 {
    width: 70%;
}

.filled-in-75 {
    width: 75%;
}

.filled-in-80 {
    width: 80%;
}

.filled-in-85 {
    width: 85%;
}

.filled-in-90 {
    width: 90%;
}

.filled-web span{
    background-color: #7F00F0;
    background-image: linear-gradient(top, #7F00F0, #5805A2);
}

.filled-videogame span{
    background-color: #0AE14B;
    background-image: linear-gradient(top, #0AE14B, #029E31);
}

.filled-diseño span{
    background-color: #F47A07;
    background-image: linear-gradient(top, #F47A07, #D76800);
}

.filled-general span{
    background-color: #03B7FF;
    background-image: linear-gradient(top, #03B7FF, #0077A7);
}

.curvitas-color-skills {
    position: absolute;
    bottom: 100;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
}



/********SECCCION DE SLIDER**********/
.container-works {
    padding-bottom: 149px;
    background-color: rgba(0, 166, 175, 1);
}

.container-slider {
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
}

.container-slider ul li {
    list-style: none;
}

ul.slider {
    position: relative;
    height: 600px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li img {
    width: 100%;
    height: 100%;
    
}

ul.slider li:first-child {
    opacity: 1;
}
.menu-slider {
    text-align: center;
    margin: 20px;
}

.menu-slider li {
    display: inline-block;
    text-align: center;
}

.menu-slider li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

ul.slider li:target {
    opacity: 1;
}

.divisor-slider {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 100;
    left: 0;
    right: 0;
}

/**************Seccion de contacto***************/

.container-contact {
    margin-bottom: 50px;
}

.container-content-services {
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.element {
   
    text-align: center;
    border-radius: 15px;
}

.space-padding-title {
    padding: 5%;
    color: white;
}

.link-contacto {
    color:white;
    display: inline-block;
    padding: 5%;
    padding-bottom: 10%;
}

.filled-in-whatsapp {
    background-color: #00BB2D;
}

.filled-in-phone {
    background-color: #009EDE;
}

.filled-map {
    background-color: #E5D10D;
}

.size-image-contact {
    width: 20%;
    margin-top: 10px;
}

/***************FOOTER***********/
.footer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: rgba(0, 166, 175, 1);
    padding: 1.5%;
}
.text-autor {
    color: white;
    text-align: center;
}


/*************generales*************/
.text-white {
    color: white;
}



/*******************************************************************/
/******************************************************************/
/******************************************************************/
/*********************RESPONSIVE************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/

/****************Pantallas extra chicas*************/

@media (max-width: 576px) {
    .nav-bar-xs {
        height: 25%;
        flex-direction: column;
    }
    
    .container-image-start-xs {
        padding-top: 35%;
    }
    
    .mid-container-xs {
        width: 100%;
    }

    .element-xs {
        width: 80%;
        margin-top: 5%;
    }
    
}


/*****************Pantallas chicas****************/

@media (min-width: 576px) {
    .nav-bar-s {
        height: 25%;
        flex-direction: column;
    }

    .container-image-start-s {
        padding-top: 28%;
    }

    .mid-container-s {
        width: 100%;
    }

    .element-s {
        width: 80%;
        margin-top: 5%;
    }

}

/*****************Pantallas tablet****************/

@media (min-width: 768px) {
    .nav-bar-md {
        height: 5%;
        flex-direction: row;
        justify-content: flex-end;
    }
    .container-image-start-md {
        padding-top: 3%;
    }

    .mid-container-md {
        width: 50%;
    }

    .element-md {
        width: 20%;
    }
}

/*****************Pantalla lap*********************/

@media (min-width: 992px) {
    .nav-bar-lg {
        height: 8%;
        flex-direction: row;      
        justify-content: flex-end;
    }
    .container-image-start-lg {
        padding-top: 3%;
    }

    .mid-container-lg {
        width: 50%;
    }

    .element-lg {
        width: 20%;
    }
}


















/*******ANIMACION DE BARRAS**************************/

/**** STRIPES ****/
.stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
      transparent 75%, transparent);            
  
    animation: animate-stripes 3s linear infinite;             
  }

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    } 
    100% {
        background-position: 60px 0;
    }
}

/**** SHINE ****/
.shine span {
    position: relative;
  }
  
  .shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;             
  }
  
  @keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
  }
  
  /**** GLOW ****/
  .glow span {
    box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;    
    animation: animate-glow 1s ease-out infinite;          
  }
  
  @keyframes animate-glow {
    0% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
    50% { box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
    100% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
  }